<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- If you've named your catalog differently than 'HnD', you need to notify LLBLGen Pro the mappings have to be redirected to a different catalog.
          You can do that below in the section for catalog name overwrites. To be able to use that section, uncomment the configSections tag below. -->
		<section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<appSettings>
		<!-- The connection string used by the forum system to connect to the database. Be sure the user specified has read/write access to the database.
       Also be sure that the user used to run the site has access to the database. -->
		<add key="Main.ConnectionString.SQL Server (SqlClient)" value="data source=thor.sd.local;initial catalog=HnD_LLBLGen;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<!-- Catalog name overwrite section, only required if you named the catalog name differently than 'HnD'. Uncomment the sqlServerCatalogNameOverwrites
     tag below and adjust the names for your particular situation. See also the LLBLGen Pro manual for details, section:
     "Using the generated code - Application configuration through .config files" for details.
     Be sure to uncomment the configSections tag at the top of this web.config file. -->
	<sqlServerCatalogNameOverwrites>
		<add key="HnD" value="HnD_LLBLGen"/>
	</sqlServerCatalogNameOverwrites>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SD.Tools.BCLExtensions" publicKeyToken="a3f87088dcb994e1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
