<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- The connection string used by the forum system to connect to the database. Be sure the user specified has read/write access to the database.
       Also be sure that the user used to run the site has access to the database. -->
		<add key="Main.ConnectionString.SQL Server (SqlClient)" value="data source=yourServer;initial catalog=HnD3;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<add key="DestinationCatalog" value="HnD3"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SD.Tools.BCLExtensions" publicKeyToken="a3f87088dcb994e1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
