<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="3.1.5" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="3.1.5" targetFramework="net48" />
  <package id="SD.LLBLGen.Pro.DQE.SqlServer" version="5.7.0" targetFramework="net48" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="5.7.0" targetFramework="net48" />
  <package id="SD.Tools.Algorithmia" version="1.4.0" targetFramework="net48" />
  <package id="SD.Tools.BCLExtensions" version="1.2.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
</packages>