Dear user,

You've succesfully registered yourself to the forumsystem [SiteName]
at: [URL] !

To get access to the forums, you have to login using the nickname you provided
and the password specified below. 

	Your password: [Password]
	
Have a nice forum-life at [SiteName] !

Best regards,

	Crew of [SiteName]
	[URL]

