<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Main.ConnectionString" value="data source=nerd;initial catalog=HnD;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
