/* #region general tag css definitions */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

blockquote {
	font-size: inherit;
	padding: 10px 3px 10px 15px;
}


code, pre.nocode {
	white-space: pre;
	max-width: 100%;
	border: solid 1px;
	font-size: 90%;
	padding: 0 2px;
	margin: 0;
	font-family: Consolas, "Andale Mono WT","Andale Mono","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
	overflow-x: auto;
}

code.code-large {
	font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	letter-spacing: -1px;
	margin: 0;
}

h1 {
	font-size: 42px;
	line-height: 44px;
	margin: 0 0 40px 0;
}

h2 {
	font-size: 36px;
	line-height: 38px;
	margin: 0 0 35px 0;
}

h2.subject {
	font-size: 30px;
	line-height: 32px;
	margin: 0 0 30px 0;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 28px;
	margin-bottom: 30px;
}

h4, h5, h6 {
	letter-spacing: normal;
	margin: 0 0 15px 0;
}

h4 {
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
}

h5 {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

h6 {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

img.emoji {
	margin-left: .1em;
	margin-right: .1em;
	width: 20px;
	height: 20px;
}

input[type=search],
input[type=text],
input[type=password],
input[type=email],
input[type=file],
input[type=number],
input[type=search]
{
	border-radius:0;
}

input[type=checkbox] {
	margin-top: 6px;	/* to align the label with the checkbox. Hurray for HTML! such an advanced system... */
}

label {
	font-weight: normal;
}

p code {
	word-wrap: break-word;
}

pre {
	display: block;
	margin: 0 0 10px;
	padding: 6px 0;
	line-height: initial;
	background-color: initial;
	border: initial;
	border-radius: 0;
}

pre code {
	white-space: pre;
}

pre > code {
	font-size: 13px;
}

pre.nocode {
	margin: 0;
	font-size: 13px;
	padding: 6.5px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea.form-control{
	font-size: 16px;
	border-radius: 0;
}
/* #endregion */

/* #region id defines */
#main-wrapper{
	min-height: 100%;
	position:relative;
}

#body-content{
	padding-bottom: 300px;    /* height of footer */
}

#footer {
	height: 240px; 
	width:100%;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}
/* #endregion*/

/* #region Tables*/
.table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	margin-bottom: 24px;
}

.attachments-caption {
	font-size: 85%;
	font-style: italic;
	text-align: left;
	position: relative;
}

.attachments-caption span {
	padding-right: 10px;
	position: relative;
	z-index: 1;
}

.attachments-caption:after {
	background: #ccc;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 0;
}

.table td, .table th {
	font-size: 90%;
	margin: 0;
	overflow: visible;
	padding: 8px 16px;
}

.table td:first-child, .table th:first-child {
	border-left-width: 0;
}

.table thead {
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
}

.table thead th {
	font-weight: bold;
	border-bottom: solid 2px;
}

.table td {
	background-color: transparent;
}

.table td p {
	line-height: 18px;
}

.table td p:last-child {
	margin-bottom: 0;
}

.table .table-cell-min {
	width: 1%;
	padding-right: 0;
}

.table-secondary {
	font-size: 90%;
}

.table-tertiary {
	font-size: 80%;
}

.table-bordered-all {
	border: 1px solid;
}

.table-bordered-all td {
	border-bottom: 1px solid;
	border-left: 1px solid;
}

.table-bordered-all tbody > tr:last-child td {
	border-bottom-width: 0;
}

.table-bordered {
	border: 1px solid;
}

.table-bordered-rows td {
	border-bottom: 1px solid;
}

.table-bordered-rows tbody > tr:last-child td {
	border-bottom-width: 0;
}

.table-horizontal tbody > tr:last-child td {
	border-bottom-width: 0;
}

.table-horizontal td, .table-horizontal th {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid;
}

.table-horizontal tbody > tr:last-child td {
	border-bottom-width: 0;
}

.table-responsive {
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
}

.table-responsive table {
	margin-bottom: 0 !important;
}

.table-responsive table td, .table-responsive table th {
	white-space: nowrap;
}
/* #endregion*/


/* #region Alert boxes*/
.alert {
	padding: 12px;
	line-height: 24px;
	margin-bottom: 24px;
	box-shadow: 0px 0px 8px rgba(10,10,10,0.1);
	border-radius: 0;
	border: 0;
}

.alert-title {
	font-weight: bold;
	display: block;
	margin: -12px;
	padding: 6px 12px;
	margin-bottom: 12px;
}

.alert p:last-child {
	margin-bottom: 0;
}
/* #endregion*/

/* #region Tabs*/
/* Tab CSS by Joseph Fusco. http://codepen.io/fusco/pen/Wvzjrm, slightly adjusted to fit our style/theme. */
.tab-wrap {
	-webkit-transition: 0.2s box-shadow ease;
	transition: 0.2s box-shadow ease;
	max-width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	margin: 30px 0;
	box-shadow: 0px 0px 8px rgba(10,10,10,0.1);
}

.tab-wrap:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.23), 0 2px 5px rgba(0, 0, 0, 0.19);
}

.tab {
	display: none;
}

.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(4) ~ .tab-content:nth-of-type(4) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(5) ~ .tab-content:nth-of-type(5) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(6) ~ .tab-content:nth-of-type(6) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(7) ~ .tab-content:nth-of-type(7) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.tab:checked:nth-of-type(8) ~ .tab-content:nth-of-type(8) {
	opacity: 1;
	-webkit-transition: 0.1s opacity ease-in, 0.1s -webkit-transform ease;
	transition: 0.1s opacity ease-in, 0.1s transform ease;
	position: relative;
	top: 0;
	z-index: 100;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* 
	If you need more tabs (oh dear why would you!?) copy/paste the checked section above and increase the number, each tab has its own section
	as this is a js less tab system.
*/

.tab:first-of-type:not(:last-of-type) + label {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label {
	border-radius: 0;
}

.tab:last-of-type:not(:first-of-type) + label {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.tab:checked + label {
	box-shadow: 0 -1px 0 #fff inset;
	cursor: default;
}

.tab:checked + label:hover {
	box-shadow: 0 -1px 0 #fff inset;
}

.tab + label {
	box-shadow: 0 -1px 0 #eee inset;
	cursor: pointer;
	display: block;
	text-decoration: none;
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	-webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
	transition: 0.3s background-color ease, 0.3s box-shadow ease;
	height: 40px;
	box-sizing: border-box;
	padding: 10px;
}

.tab + label:hover {
	box-shadow: 0 1px 0 #f4f4f4 inset;
}

.tab-content {
	padding: 10px 15px;
	background-color: transparent;
	position: absolute;
	width: 100%;
	z-index: -1;
	opacity: 0;
	left: 0;
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
}

.tab-content > p:last-child {
	margin-bottom:0;
}

.tab-content > pre {
	margin-top: -12px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -8px;
}

.tab-content > pre > code {
	box-shadow: initial;
	border: 0;
}
/* #endregion*/


/* #region pseudo-elements */
::-moz-selection {
	text-shadow:none;
	color: #fff;
	background:rgba(181,67,33,0.8);
}
::selection {
	text-shadow:none;
	color: #fff;
	background:rgba(181,67,33,0.8);
}
/* #endregion */

/* #region User profile elements */
    .w25 { width: 25px;}
    
/* #endregion */

/* #region general padding and margin shortcuts*/
	.mb0 { margin-bottom: 0;}
	.mb5 { margin-bottom: 5px;}
	.mb10 { margin-bottom: 10px;}
	.mb20 { margin-bottom: 20px;}
	.mb30 { margin-bottom: 30px;}
	.mb40 { margin-bottom: 40px;}

	.pb0 { padding-bottom: 0;}
	.pb10 { padding-bottom: 10px;}
	.pb20 { padding-bottom: 20px;}
	.pb30 { padding-bottom: 30px;}
	.pb40 { padding-bottom: 40px;}

	.mt0 { margin-top: 0;}
	.mt5 { margin-top: 5px;}
	.mt10 { margin-top: 10px;}
	.mt20 { margin-top: 20px;}
	.mt30 { margin-top: 30px;}
	.mt40 { margin-top: 40px;}

	.pt0 { padding-top: 0;}
	.pt3 { padding-top: 3px;}
	.pt5 { padding-top: 5px;}
	.pt10 { padding-top: 10px;}
	.pt20 { padding-top: 20px;}
	.pt30 { padding-top: 30px;}
	.pt40 { padding-top: 40px;}

	.plr0 { 
		padding-left: 0;
		padding-right: 0;
	}

	.plr7 {
		padding-left: 7px;
		padding-right: 7px;
	}

	.plr10 { 
		padding-left: 10px;
		padding-right: 10px;
	}

	.plr20 { 
		padding-left: 20px;
		padding-right: 20px;
	}

    .pl0  { padding-left: 0;}
    .pl10 { padding-left: 10px;}
	.pl20 { padding-left: 20px;}
    .pl25 { padding-left: 25px;}
	.pl30 { padding-left: 30px;}
	.pl35 { padding-left: 35px;}
	.pl40 { padding-left: 40px;}
	.pl50 { padding-left: 50px;}
	.pl70 { padding-left: 70px;}
	
    .pr0  { padding-right: 0;}
	.pr20 { padding-right: 20px;}
	.pr30 { padding-right: 30px;}
	.pr40 { padding-right: 40px;}
	.pr50 { padding-right: 50px;}
	.pr70 { padding-right: 70px;}

	.p0 { padding: 0;}
	.p5 { padding: 5px;}
	.p10 { padding: 10px;}
	.p20 { padding: 20px;}

	.m0 { margin: 0;}
	.m5 { margin: 5px;}
	.m10 { margin: 10px;}
	.m20 { margin: 20px;}
/* #endregion */

/* #region general class definitions, sorted alphabetically */
	a:hover,
	a:focus, 
	a:active,
	.btn:hover,
	.btn:focus, 
	.btn:active,
	button:hover,
	button:focus, 
	button:active  {
		text-decoration:none;
		outline:0;
		box-shadow:none;
		-webkit-transition:all 0.2s easeout; transition:all 0.2s ease-out;
	}
	
	/* to be used with block-rightside to place two blocks / forms side by side.*/
	.block-leftside {
		float: left;
	}

	.block-rightside {
		display: inline-block;
	}

	.bottom_aligner {
		display: inline-block;
		height: 100%;
		vertical-align: bottom;
		width: 0px;
	}

	/* gives a small line at the left, under the text it is applied to*/
	.br-bottom:after {
		content:"";
		display:block;
		height:1px;
		width:35px;
		border-top: 2px solid #008080;
		margin:6px 0 10px;
	}

	.breadcrumb {
		font-size: 15px;
	}

	.btn {
		border-radius:0;
	}

	.bs-alert-danger {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
	.bs-alert {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
        
    .caption {
        font-size: 85%;
        font-style: italic;
        text-align: right;
        position: relative;
    }
    
    .caption span {
        padding-left: 10px;
        position: relative;
        z-index: 1;
    }
    
    .caption:before {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 0;
    }


    .checkbox-inline {
		margin-top: 5px;
	}
	.clear { clear: both; }

	.collapsing {
		-webkit-transition: none;
		transition: none;
	}

	.column-wrapper-sm {
		margin-left: 20px;
	}

	.column-wrapper {
		margin-left: 40px;
	}

	.column-wrapper-bookmarks {
		margin-left: 60px;
	}

	.column-fixed-sm {
		float: left;
		width: 20px;
		margin-left: -20px;
	}

	.column-fixed {
		float: left;
		width: 40px;
		margin-left: -40px;
	}
	
	.column-fixed-bookmarks {
		float: left;
		width: 60px;
		margin-left: -60px;
	}

	.column-fluent {
		float: right;
		width: 100%;
		padding-left: 10px;
	}

	.column-fluent-no-padding {
		float: right;
		width: 100%;
	}

	.column-clear {
		clear: both;	
	}

	.editor-toolbar {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.editor-toolbar-divider {
		border-right: 1px solid; 
		float: left; 
		height: 34px
	}

	.empty-space-unanswered {
		padding-left: 16px;
	}

	.headerattop {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	}

	.headerscrolled {
		box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
		-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	}

	.inpageDropDown {
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
    
    label.above-control {
        font-weight: 600;
        font-size: 17px;
    }
	
	.list-row-description {
		font-size: 14px;
		display: block;
		line-height: 1.3;
	}

	.no-roundcorners {
		border-radius: 0;
	}

	.offtopic {
		font-size: 12px;
	}

	.page-header {
		padding-bottom: 0;
		padding-top: 40px;
		margin: 40px 0 0;
		border-bottom: 0;
	}

	.page-header-breadcrumbs {
		padding-bottom: 0;
		padding-top: 25px;
		margin: 30px 0 0;
		border-bottom: 0;
	}

	.pull-center {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		clear: both;
		text-align:center;
	}

	.quote-nickname {
		font-weight: bold;
	}

	.text-nowrap-responsive {
		white-space: nowrap;
	}
/* #endregion */

/* #region post definitions */

	.ps-anchor {
		display: block;
		height: 55px; /*same height as header*/
		margin-top: -55px; /*same height as header*/
		visibility: hidden;
	}

    img.ps-poster-avatar {
		width: 100px;
		height: 100px;
		margin-bottom: 10px;
	}

	.ps-message {
		overflow: auto;
		padding: 0;
		width: auto;
		float: none;
		display: block;
	}

	.ps-message-content {
		overflow: auto;
		padding: 1px 8px 1px;
		min-height: 215px;
	}

	.ps-message-modal {
		min-height: 275px;
		max-height: 600px;
	}

	.ps-message-title {
		font-size: 14px;
		padding: 1px 8px 1px;
		width: 100%;
		float: left;
		display: block;
	}

	.ps-message-signature {
		font-size: 12px;
		padding: 4px 8px 1px;
		margin-top: 5px;
		line-height: 20px;
	}

	.ps-message-tools {
		float: right;
	}

	.ps-poster {
		padding: 5px;
		width: 170px;
		min-height: 100px;
		display: block;
		float: left;
		position: relative;
		margin-top: 20px;
		margin-left: auto !important;
		margin-right: auto !important;
		clear: both;
		text-align:center;
	}

	.ps-poster-title,
	.ps-poster-info {
		font-size: 12px;
	}

	.ps-poster-stats {
		margin-top: 15px;
		line-height: 20px;
	}

	.ps {
		padding: 0;
		margin-bottom: 10px;
	}
/* #endregion*/

/* #region different section definitions */
	.fs,
	.as {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.fs-header {
		padding: 10px;
		font-size: 20px;
		background-color: #ddd;
	}

	.fs-headingrow {
		padding: 0;
		font-weight: 600;
		font-size: 14px;
		background-color: #efefef;
	}

	.fs-row {
		padding: 5px;
		margin-bottom: 1px;
	}

	.fs-thread-header,
	.fs-thread-pager {
		float: left;
		display: block;
	}
	
	/* toggles for the forum section headers */
	.areatoggle.collapsed .glyphicon-chevron-up {
		display: none;
	}

	.areatoggle.collapsed .glyphicon-chevron-down {
		display: inline-block;
	}

	.areatoggle .glyphicon-chevron-down {
		display: none;
	}
	
	.as-header {
		font-size: 16px;
		background-color: #ddd;
	}

	.as-label {
		display: inline-block; 
		margin-top: 2px; 
		vertical-align: middle;
	}

	.as-row {
		padding-bottom: 10px;
	}

/* #endregion */

/* #region Footer*/

	.footer-widget .underlined-links {
		text-decoration: underline;
	}

	.footer-wrapper {
		background-color: #303236;
		color: #d8dade;
		position:relative;
		padding:60px 0 40px;
		height: 100%;
	}

	.footer-widget {
		 margin-bottom:10px;
		font-size: 14px;
	}

	.footer-widget > a {
		color: #d8dade;
	}

	/* Footer title */
	.footer-title {
		font-family:"Montserrat",sans-serif;
		font-size: 16px;
		margin-bottom:5px;
		color: #d8dade;
		letter-spacing: 1px;
	}
	.footer-title:after {
		content:"";
		display:block;
		height:1px;
		width:22px;
		border-top:2px solid rgb(181,67,33);
		margin:5px 0 0;
	}

	.footer-links {
		margin:0;
		padding:0;
	}
	.footer-links > li {
		margin:0 20px 15px 0;
		display:inline-block;
		list-style:none;
	}
	.footer-links > li > a {
		color:#d8dade;
		-webkit-transition:all 0.6s ease-out; transition:all 0.6s ease-out;
	}
	.footer-links > li > a:hover,
	.footer-links > li > a:focus,
	.footer-links > li > a:active {
		color: rgb(181,67,33);
		-webkit-transition:all 0.3s ease-out; transition:all 0.3s ease-out;
	}
/* #endregion*/


/* #region Mobile specific definitions*/

@media (min-width:993px) {
	.notonfullwidth { display: none;}
}

@media (max-width:992px) {
	 .notonmobile { display: none;}

	 img.ps-poster-avatar {
		width: 64px;
		height: 64px;
		margin: 5px;
		 float: left;
	}

	/*.fs-header {
		height: 50px;
	}*/

	.ps-message-tools {
		float: left;
		margin-left: 10px;
	}

	.ps-message {
		overflow: auto;
		padding: 5px;
		width: 100%;
		float: right;
		display: block;
	}

	.ps-message-content {
		min-height: 20px;
		font-size: 15px;
	}

	.ps-message-modal {
		max-height: 400px;
	}

	.ps-poster {
		margin-top: 10px;
		padding: 0 10px 0;
		width: auto;
		min-height: initial;
		height: 83px;
		display: block;
		float: none;
		margin-left: auto !important;
		margin-right: auto !important;
		position: relative;
		clear: both;
		text-align: initial;
	}

	.ps-poster-name {
		padding-left: 10px;
		padding-right: 20px;
		float: left;
		display: block;
		margin-top: 0;
	}

	.ps-poster-stats {
		margin-left: 10px;
		margin-top: 0;
		padding-top: 0;
		display: block;
		float: left;
		line-height: 25px;
	}
}


@media (min-width:767px) {
	/* to make the menus show when hovering over them with a mouse. */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	
	.navbar-brand {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.navbar-default {
		background-color: inherit;
	}

	.text-nowrap-responsive {
		white-space: normal;
	}

	.xs-pull-left { float:left !important; }

	.ps-message-content {
		font-size: 14px;
	}
	.ps-message-modal {
		max-height: 300px;
	}
	
	.CodeMirror
	{
		max-height: 400px;
	}
	.CodeMirror-scroll {
		max-height: 360px;
	}

	#body-content{
		padding-bottom: 400px;    /* height of footer */
	}

	#footer {
		height: 340px; 
	}
}
/* #endregion*/