/* define colors here*/
/* HnD main colors: @color: #970303; */
/* alert boxes colors */
/* no need to define anything below this point */
a {
  color: #066A8B;
}
a.areatoggle {
  color: #c6effd;
}
a.fs-tooltip {
  color: #fff;
}
blockquote {
  background: #f8f8f8;
}
body {
  background-color: #f1f1f1;
}
code {
  color: #600;
}
code,
pre.nocode {
  background: #fff;
  border: solid 1px #f1f1f1;
}
img.ps-poster-avatar {
  border: 1px #d2d2d2 solid;
}
mark {
  background: #066A8B;
}
::-moz-selection {
  background: #066A8B;
}
::selection {
  background: #066A8B;
}
.as-row {
  background-color: #fff;
}
.as-header {
  background-color: #868686;
  color: #fff;
}
.breadcrumb {
  background-color: #f1f1f1;
}
.br-bottom:after {
  border-top: 2px solid #066A8B;
}
.br-bottom-center::after {
  border-top: 2px solid #066A8B;
}
.br-bottom-center.large:after {
  border-top: 5px solid #066A8B;
}
.btn-primary {
  background-color: #066A8B;
  border-color: #077da3;
}
.btn-primary:hover {
  background-color: #055773;
}
.editor-toolbar-divider {
  border-right-color: #b9b9b9;
}
.footer-links > li > a:hover,
.footer-links > li > a:focus,
.footer-links > li > a:active {
  color: #088fbc;
}
.footer-title:after {
  border-top: 2px solid #066A8B;
}
.footer-widget a,
.footer-widget a:hover,
.footer-widget a:active {
  color: #088fbc;
}
.footer-wrapper {
  background-color: #033242;
}
.form-control:focus {
  border-color: #088fbc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.001), 0 0 8px rgba(6, 106, 139, 0.7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.001), 0 0 8px rgba(6, 106, 139, 0.7);
}
.fs-header {
  background-color: #066A8B;
  color: #fff;
}
.fs-thread-pager > a,
.fs-thread-pager > a:hover,
.fs-thread-pager > a:active {
  color: #c6effd;
}
.fs-row,
.ps-message {
  background-color: #fff;
}
.fs-headingrow {
  background-color: #d2d2d2;
}
.threadtools > a.dimmed,
.threadtools > i.dimmed {
  color: rgba(255, 255, 255, 0.4);
}
.threadtools > a.dimmed:hover {
  color: #c6effd;
}
.threadtools > a.active {
  color: #fff;
}
/* color of the icon of an element which has new posts */
.icon-newpost {
  color: #088fbc;
}
.icon-nonewpost {
  color: #9f9f9f;
}
.icon-thread-open {
  color: #9f9f9f;
}
.icon-thread-answered {
  color: #088fbc;
}
.list-row-description {
  color: #868686;
}
.menu > li > a:hover,
.menu > li > a:focus,
.menu > li:hover > a {
  color: #066A8B;
}
.navbar-default {
  background-color: rgba(248, 248, 248, 0.9);
}
.offtopic {
  color: #9f9f9f;
}
.ps {
  background-color: #fafafa;
}
.ps-message-title {
  color: #868686;
  border-bottom: 1px #fafafa solid;
}
.ps-message-signature {
  color: #868686;
  border-top: 1px #fafafa solid;
}
.submenu,
.inpageDropDown {
  border-top: 1px solid #066A8B;
}
.stickyThread {
  background-color: #eefafe;
}
/* #region Tables*/
.table-bordered-all {
  border-color: #dfdfdf;
  background: #fdfdfd;
}
.table-bordered-all td {
  border-bottom-color: #dfdfdf;
  border-left-color: #dfdfdf;
}
.table-bordered {
  border-color: #dfdfdf;
}
.table-bordered-rows td {
  border-bottom-color: #dfdfdf;
}
.table-horizontal td,
.table-horizontal th {
  border-bottom-color: #dfdfdf;
}
.attachments-caption span {
  background-color: #fff;
}
/* #endregion*/
/* #region Alert boxes*/
.alert {
  color: initial;
  background: #e7f2fa;
}
.alert-title {
  color: #fff;
  background: #6ab0de;
}
.alert.alert-danger {
  color: initial;
  background: #ffffff;
}
.alert.alert-danger .alert-title {
  background: #e22222;
}
.alert.alert-warning {
  color: initial;
  background: #ffffff;
}
.alert.alert-warning .alert-title {
  background: #f0b37e;
}
.alert.alert-info {
  color: initial;
  background: #e7f2fa;
}
.alert.alert-info .alert-title {
  background: #6ab0de;
}
.alert.alert-neutral {
  color: initial;
  background: #ffffff;
}
.alert.alert-neutral .alert-title {
  color: #393939;
  background: #ddd;
}
.alert.alert-tip {
  color: initial;
  background: #f1fdfb;
}
.alert.alert-tip .alert-title {
  background: #1abc9c;
}
/* #endregion*/
/* #region Tabs*/
/* 
	Tab CSS by Joseph Fusco. http://codepen.io/fusco/pen/Wvzjrm, slightly adjusted to remove the round corners. 
	Shadow colors are defined in theme.css, as they can only be defined with the shadow definition directly.
*/
.tab-wrap {
  background-color: #fff;
}
.tab:checked + label {
  background-color: #fff;
}
.tab + label {
  color: #393939;
  background-color: #f1f1f1;
}
.tab + label:hover {
  background-color: #d2d2d2;
}
/* #endregion*/
@media (max-width: 767px) {
  .menu > li > a:hover,
  .menu > li > a:focus {
    color: #066A8B;
  }
  .navbar-default {
    background-color: #f8f8f8;
  }
}
@media (min-width: 992px) {
  .header-transparent .menu > li > a:hover,
  .header-transparent .menu > li > a:focus,
  .header-transparent .menu > li:hover > a {
    color: #066A8B;
  }
}