<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20150416" targetFramework="net45" />
  <package id="SD.Tools.Algorithmia" version="1.1.0" targetFramework="net45" />
  <package id="SD.Tools.BCLExtensions" version="1.0.0" targetFramework="net45" />
  <package id="SD.Tools.OrmProfiler.Interceptor.NET45" version="1.5.20150209" targetFramework="net45" />
</packages>