@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering
@using SD.HnD.Gui.Classes
@using SD.HnD.Gui.Controllers
@model SD.HnD.Gui.Models.Admin.ActionWithUserSearchData

@{
	ViewBag.Title = "HnD | Admin | Ban / unban user";
}

@section stylesheets
{
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
}
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li>
					<a href="~/">Home</a>
				</li>
				<li>Admin</li>
				<li class="active">Ban / Unban User</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h1 class="br-bottom mt30">Ban / Unban User</h1>
			<p>
				Below you can ban or unban a user. First select the user to ban/unban using the Find User portion of the form, then you have to confirm you want to 
				ban / unban the user selected. 
			</p>
			<p>
				You can't ban yourself, Admin (UserID 1) nor the Anonymous user (UserID 0). The ban is set on the user account and the user will be logged out by force
				the next time the user requests a forum page and won't be able to visit / view a page on the forum system.  
				<br/><br/>
			</p>
		</div>
	</div>
	<div class="row mb40">
		<div class="col-sm-8">
			@using(Html.BeginForm(Model.FindUserData.ActionToPostTo, "UserAdmin", null, FormMethod.Post, true, new {role = "form"}))
			{
				@await Html.PartialAsync("Admin/FindUser", Model.FindUserData)
				switch(Model.FindUserData.FindUserState)
				{
					case AdminFindUserState.FinalAction:
						string bannedText = Model.FindUserData.SelectedUsers.FirstOrDefault()?.IsBanned==true ? "Banned" : "Not banned";
						<div><p>Are you sure you want to toggle the ban flag for this user? (current status is: <b>@bannedText</b>)</p></div>
						<div class="mt20">
							<button type="submit" name="submitAction" value="ToggleBanFlag" class="btn btn-default"> Yes </button>
							&nbsp;&nbsp;
							<button type="submit" name="submitAction" value="Cancel" class="btn btn-default"> No </button>
						</div>
						break;
					case AdminFindUserState.PostAction:
						<div><p>@Model.FinalActionResult</p></div>
						break;
				}
			}			
		</div>
	</div>
</div>
