@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering
@using SD.HnD.Gui
@inject IAntiforgery antiforgery
@{
	ViewBag.Title = "HnD | Admin | Manage Sections";
}

@section stylesheets
{
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
}
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li>
					<a href="~/">Home</a>
				</li>
				<li>Admin</li>
				<li class="active">Manage Sections</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h1 class="br-bottom mt30">Manage Sections</h1>
			<p>
				Below you to manage sections in the forum system: you can add new ones and edit and delete existing sections.
				Only sections which are empty can be deleted.  
			</p>
			<p>
				All fields are mandatory.<br/><br/>
			</p>
		</div>
	</div>
	<div class="row mb40">
		<div class="col-sm-12">
			<div class="alert alert-danger hidden" role="alert" id="jsErrorMessageContainer">
				<span id="jsErrorMessageTitle" class="alert-title"></span>
				<p id="jsErrorMessageDetail"></p>
			</div>
			<div id="jsGrid"></div>
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
	<script>
		var deletionFailed = false;
		
        $(function() {
            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",
                
                inserting: true,
                editing: true,
                sorting: true,
                paging: false,
                autoload: true,
                
                pageSize: 10,
                pageButtonCount: 5,
                
                deleteConfirm: "Do you really want to delete this section?",
                
                controller: {
                    loadData: function(filter) {
                        return $.ajax({
                            type: "GET",
                            url: "@ApplicationAdapter.GetVirtualRoot()Admin/GetSections",
                            dataType: "json",
                            data:filter
                        });
                    },
                    insertItem: function(item) {
                        return performAjaxMethodCallWithData("@ApplicationAdapter.GetVirtualRoot()Admin/InsertSection", item);
                    },
                    updateItem: function(item) {
                        return performAjaxMethodCallWithData("@ApplicationAdapter.GetVirtualRoot()Admin/UpdateSection", item);
                    },
                    deleteItem: function(item) {
                        return performAjaxMethodCallWithData("@ApplicationAdapter.GetVirtualRoot()Admin/DeleteSection/" + item.sectionID, {});
                    }
                },
                onItemDeleted : function (args) { 
                		args.grid.loadData();
                	},
                fields: [
                    { name:"sectionID", title: "ID", type: "number", width: 25, editing:false, inserting:false},
                    { name:"sectionName", title: "Name", type: "text", width: 70 },
                    { name:"sectionDescription", title: "Description", type: "textarea", width: 200 },
                    { name:"orderNo", title: "Order", type: "number", width:30 },
                    { type: "control" }
                ]
            });
        });
    </script>
}