@using Microsoft.AspNetCore.Http
@using SD.HnD.Gui
@using SD.Tools.BCLExtensions.CollectionsRelated
@{
	ViewBag.Title = "HnD | Terms of usage";
}
<div class="container">
	<div class="row">
		<div class="col-sm-12 page-header-breadcrumbs">
			<ol class="breadcrumb plr0">
				<li>
					<a href="~/">Home</a>
				</li>
				<li class="active">Terms of usage</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h1 class="br-bottom mt30">Terms of usage</h1>
			<p>
				While the administrators and moderators of this forum will attempt to remove or
				edit any generally objectionable material as quickly as possible, it is
				impossible to review every message. Therefore you acknowledge that all posts
				made to these forums express the views and opinions of the author and not the
				administrators, moderators or webmaster (except for posts by these people) and
				hence will not be held liable.
			</p>
			<p>
				You agree not to post any abusive, obscene, vulgar, slanderous, hateful, threatening,
				sexually-orientated or any other material, including links to pirated software or related to
				pirated software, that may violate any applicable laws.
				Doing so may lead to you being immediately and permanently banned (and your service provider being
				informed). The IP address of all people posting in forums on this forum system is logged to aid in
				enforcing these conditions.
			</p>
			<p>
				You agree that the webmaster, administrator and moderators of this
				forum system have the right to remove, edit, move or close any topic at any time should
				they see fit. As a user you agree to any information you have entered in the registration form, or
				in the profile editing form, being stored in a database. While this information will not be
				disclosed to any third party without your consent, the webmaster, administrator and moderators
				cannot be held responsible for any hacking attempt that may lead to the data
				being compromised.
			</p>
			<p>
				This forum system uses cookies to store information on your local computer.
				These cookies do not contain any of the information you have entered when you registered nor when you edited
				your profile or any information related to your postings on this board, they serve only to improve your
				viewing pleasure. The email address is used only for sending you your initial password (and for sending 
				a link to specify a new password should you forget your current one) as well as notification emails 
				of new posts in threads, if you've subscribed to these threads.
			</p>
			<p>
				By registering at this forum system, you agree with these registration terms.
			</p>
		</div>
	</div>
</div>