Dear user,

You've successfully registered yourself to the forum system [SiteName]
at: [URL] !

To get access to the forums, you have to login using the nickname you provided
and the password specified below. 

	Your password: [Password]
	
See you soon at [SiteName]!

Best regards,

	Crew of [SiteName]
	[URL]

