Dear user,

You've requested to reset your password for [SiteName] at [URL]. 
If this wasn't requested by you, you don't have to do anything and you can safely delete this message. 

To reset your password please follow the link below, or copy it into a browser's address bar, 
which will bring you to a form to specify a new password. 

Password reset link: [URL]Account/SpecifyNewPassword/[Token]

Best regards,

	Crew of [SiteName]
	[URL]

